<ul>
    <li><a href="/home">home</a></li>
    <li><a href="/create_chat">create chat</a></li>
    <li><a href="/find_chat">find chat</a></li>
    <li><a href="/friends">friends<span id="friends-notification"><%= notificationCount %></span></a></li>
    <li><a href="/sign_out">sign out</a></li>
</ul>