div#content-container {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3rem;
  border-radius: 25px;
}

table {
  font-size: 2.4rem;

  tr,
  td {
    color: white;
  }

  tr {
    text-align: center;
  }
}
