* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: linear-gradient(to right, #e66465, #9198e5);
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

$error-color: rgba(255, 106, 106, 0.712);
$error-color2: rgba(252, 16, 16, 0.712);

$success-color: rgba(29, 255, 29, 0.8);
$success-color2: rgba(5, 184, 5, 0.8);

.flying-msg {
  position: absolute;
  height: 12vh;
  cursor: pointer;
  pointer-events: all;
  transition: all 1s ease;
  z-index: -1;

  &.msg-top {
    top: 20vh;
    animation: flying-msg 3s ease-in-out alternate infinite;
  }

  &.msg-mid {
    top: 50vh;
    animation: flying-msg 5s alternate-reverse infinite;
  }

  &.msg-bot {
    top: 80vh;
    animation: flying-msg 4s ease-out alternate infinite;
  }
}

@keyframes flying-msg {
  from {
    transform: translateX(-20rem);
  }
  to {
    transform: translateX(105vw);
  }
}

header {
  min-height: 10vh;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-family: "Montserrat Subrayada", sans-serif;
    padding-left: 5rem;
    font-size: 3rem;
  }

  img {
    height: 5vh;
    padding: 0rem 2rem;
    transition: all 0.8s ease;

    &:hover {
      transform: rotateY(180deg);
    }
  }

  h2 {
    flex-grow: 1;
    text-align: right;
    margin-right: 3rem;
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }
}

h1.flash {
  padding: 1rem;
  color: white;

  &.error {
    animation: error-pulse 1s alternate-reverse infinite;
  }

  &.success {
    animation: success-pulse 1s alternate-reverse infinite;
  }
}

@keyframes error-pulse {
  from {
    background: $error-color;
  }
  to {
    background-color: $error-color2;
  }
}

@keyframes success-pulse {
  from {
    background: $success-color;
  }
  to {
    background-color: $success-color2;
  }
}

nav {
  font-size: 2.4rem;
  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    li {
      list-style: none;
      padding: 2rem;
      transition: all 0.3s ease;

      &:hover {
        transform: scale(1.2);
        background: white;
        border-radius: 25px;
        text-decoration: none;

        a {
          color: #e66465;
          text-decoration: none;
        }
      }

      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}

main > #forms {
  min-height: 85vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;

  form {
    color: white;
    font-size: 2.1rem;
    width: 40rem;

    h1 {
      padding: 1.5rem 0rem;
    }

    input {
      width: 100%;
      margin: 1rem 0rem;
      transition: all 0.3s ease;
      background-color: rgba(255, 255, 255, 0.5);
      height: 3rem;
      font-size: 2.8rem;
      text-align: center;
      outline: none;
      border: none;
      font-family: "Montserrat", sans-serif;

      &:focus {
        outline: 4px solid #9198e5;
        transform: scale(1.1);
        background-color: white;
      }
    }

    button {
      width: 50%;
      margin: 2rem 25%;
      outline: none;
      border: none;
      padding: 0.5rem 2rem;
      background-color: rgba(0, 0, 0, 0);
      border: 1px solid white;
      color: white;
      border-radius: 1rem 0rem 1rem 0rem;
      cursor: pointer;
      transition: all 0.3s ease;
      font-size: 1.6rem;

      &:hover,
      &:focus {
        transform: scale(1.2);
        background-color: white;
        color: #9198e5;
      }
    }
  }
}

footer {
  min-height: 3vh;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  color: white;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 42.5%;
  }
}
