* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(#e66465), to(#9198e5));
  background: linear-gradient(to right, #e66465, #9198e5);
  font-family: "Montserrat", sans-serif;
  max-width: 100%;
  overflow-x: hidden;
}

.flying-msg {
  position: absolute;
  height: 12vh;
  cursor: pointer;
  pointer-events: all;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  z-index: -1;
}

.flying-msg.msg-top {
  top: 20vh;
  -webkit-animation: flying-msg 3s ease-in-out alternate infinite;
          animation: flying-msg 3s ease-in-out alternate infinite;
}

.flying-msg.msg-mid {
  top: 50vh;
  animation: flying-msg 5s alternate-reverse infinite;
}

.flying-msg.msg-bot {
  top: 80vh;
  -webkit-animation: flying-msg 4s ease-out alternate infinite;
          animation: flying-msg 4s ease-out alternate infinite;
}

@-webkit-keyframes flying-msg {
  from {
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem);
  }
  to {
    -webkit-transform: translateX(105vw);
            transform: translateX(105vw);
  }
}

@keyframes flying-msg {
  from {
    -webkit-transform: translateX(-20rem);
            transform: translateX(-20rem);
  }
  to {
    -webkit-transform: translateX(105vw);
            transform: translateX(105vw);
  }
}

header {
  min-height: 10vh;
  background: rgba(0, 0, 0, 0.3);
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

header h1 {
  font-family: "Montserrat Subrayada", sans-serif;
  padding-left: 5rem;
  font-size: 3rem;
}

header img {
  height: 5vh;
  padding: 0rem 2rem;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

header img:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

header h2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  margin-right: 3rem;
  font-size: 2rem;
}

header h3 {
  font-size: 3rem;
}

h1.flash {
  padding: 1rem;
  color: white;
}

h1.flash.error {
  animation: error-pulse 1s alternate-reverse infinite;
}

h1.flash.success {
  animation: success-pulse 1s alternate-reverse infinite;
}

@-webkit-keyframes error-pulse {
  from {
    background: rgba(255, 106, 106, 0.712);
  }
  to {
    background-color: rgba(252, 16, 16, 0.712);
  }
}

@keyframes error-pulse {
  from {
    background: rgba(255, 106, 106, 0.712);
  }
  to {
    background-color: rgba(252, 16, 16, 0.712);
  }
}

@-webkit-keyframes success-pulse {
  from {
    background: rgba(29, 255, 29, 0.8);
  }
  to {
    background-color: rgba(5, 184, 5, 0.8);
  }
}

@keyframes success-pulse {
  from {
    background: rgba(29, 255, 29, 0.8);
  }
  to {
    background-color: rgba(5, 184, 5, 0.8);
  }
}

nav {
  font-size: 2.4rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

nav ul li {
  list-style: none;
  padding: 2rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav ul li:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background: white;
  border-radius: 25px;
  text-decoration: none;
}

nav ul li:hover a {
  color: #e66465;
  text-decoration: none;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

main > #forms {
  min-height: 85vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main > #forms form {
  color: white;
  font-size: 2.1rem;
  width: 40rem;
}

main > #forms form h1 {
  padding: 1.5rem 0rem;
}

main > #forms form input {
  width: 100%;
  margin: 1rem 0rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: rgba(255, 255, 255, 0.5);
  height: 3rem;
  font-size: 2.8rem;
  text-align: center;
  outline: none;
  border: none;
  font-family: "Montserrat", sans-serif;
}

main > #forms form input:focus {
  outline: 4px solid #9198e5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: white;
}

main > #forms form button {
  width: 50%;
  margin: 2rem 25%;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 1rem 0rem 1rem 0rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

main > #forms form button:hover, main > #forms form button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: white;
  color: #9198e5;
}

footer {
  min-height: 3vh;
  background: rgba(0, 0, 0, 0.3);
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  text-align: center;
  font-size: 1.6rem;
  padding: 1rem;
  color: white;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

@media screen and (max-width: 320px) {
  html {
    font-size: 42.5%;
  }
}

div#content-container {
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3rem;
  border-radius: 25px;
}

table {
  font-size: 2.4rem;
}

table tr,
table td {
  color: white;
}

table tr {
  text-align: center;
}

form#create-chat-form {
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
}

form#create-chat-form input {
  width: 60%;
  text-align: center;
}

form#create-chat-form h3 {
  padding-top: 2rem;
}

form#create-chat-form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

form#create-chat-form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

form#create-chat-form ul li input {
  width: 20px;
  height: 20px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

form#create-chat-form ul li input:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

form#create-chat-form ul li span {
  padding: 2rem;
}

form#create-chat-form button {
  width: 30%;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 1rem 0rem 1rem 0rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

form#create-chat-form button:hover, form#create-chat-form button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: white;
  color: #9198e5;
}

form#find-chat-form {
  color: white;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

form#find-chat-form input {
  width: 40%;
  text-align: center;
}

form#find-chat-form ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

form#find-chat-form ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

form#find-chat-form ul li input {
  width: 4rem;
}

form#find-chat-form button {
  margin-left: 2rem;
  width: 30%;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 1rem 0rem 1rem 0rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

form#find-chat-form button:hover, form#find-chat-form button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: white;
  color: #9198e5;
}

div#find-results {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}

div#find-results ul {
  list-style: none;
}

div#find-results ul li {
  padding: 1rem;
}

div#find-results ul li button {
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 1rem 0rem 1rem 0rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
  margin-right: 2rem;
}

div#find-results ul li button:hover, div#find-results ul li button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: white;
  color: #9198e5;
}

div#find-results ul li span {
  font-size: 1.6rem;
}

ul#friends-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-size: 2rem;
}

form#add-friend-form {
  padding-top: 2rem;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 2.4rem;
}

form#add-friend-form h3 {
  font-size: 2.4rem;
}

form#add-friend-form input {
  width: 30%;
  text-align: center;
}

form#add-friend-form button {
  margin-top: 1rem;
  width: 20%;
  outline: none;
  border: none;
  padding: 0.5rem 2rem;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid white;
  color: white;
  border-radius: 1rem 0rem 1rem 0rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

form#add-friend-form button:hover, form#add-friend-form button:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  background-color: white;
  color: #9198e5;
}

div#chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div#chat-header h1 {
  color: white;
  padding: 1.5rem 1rem;
}

div#chat-header a {
  background: rgba(255, 59, 59, 0.678);
  border-radius: 5px;
  color: white;
  padding: 1rem;
  font-size: 1.4rem;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

div#chat-header a:hover {
  text-decoration: none;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

div#chat {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  padding: 1rem;
  overflow: auto;
  min-height: 50vh;
  max-height: 50vh;
  overflow-x: hidden;
  border: 1px solid white;
}

div.message {
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 25px;
  width: 50.1%;
  margin-bottom: 2%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-align: justify;
}

div.message:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

div.message span {
  font-style: italic;
}

.message-user {
  background-color: #9198e5;
  float: right;
}

.message-friend {
  background-color: #e66465;
  float: left;
}

.message-system {
  background-color: rgba(255, 255, 255, 0.5);
  float: left;
  width: 100% !important;
  text-align: center !important;
}

form#message-form {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

form#message-form textarea {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-size: 1.6rem;
}

form#message-form textarea:focus {
  background: rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

form#message-form button {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 15rem;
          flex: 1 1 15rem;
  background: none;
  outline: none;
  border: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

form#message-form button:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

form#message-form button img {
  width: 5rem;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 45%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 37.5%;
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 27.5%;
  }
}
/*# sourceMappingURL=style.css.map */