@import "login-page";
@import "home";
@import "find-chat";
@import "friends";
@import "chat";

.toast {
  font-size: 1.6rem;
}
.toast-success {
  background: rgb(17, 202, 17);
}

.toast-error {
  background: rgb(255, 58, 58);
}

.toast-info {
  background: rgb(91, 134, 253);
}

.friends-notification-active {
  border-radius: 25px;
  width: 1rem;
  text-align: center;
  border: 2px solid white;
  padding: 0rem 1rem;
  margin-left: 0.75rem;
}
